
.cart-wrapper{

height: 100px;
width:500px;
border:1px solid #ccc;
margin-left:10%;

}

.btn-wrapper button{
  background-color:rgb(236, 12, 12);
  border:0px;
  padding:10px;
  border-radius:4px;
  color:white;
  box-shadow: #333 0px 1px 5px;

}

.img-wrapper img{
width: 100px;
mardin-top: -10px;

}

.item{
  float:left;
display:inline-block;
width: 120px;
padding:20px;
height:70px;
}

.add-to-cart img{
  width:80px;
  position:absolute;
  right:1%;
  top:5%;
}